* {
	scroll-behavior: smooth;
	/*#EE5522*/
}
body {
	font-size: 24px;
	/* font-family: 'Dancing Script', cursive; */
	font-family: "Satisfy", cursive;
	transition: background .4s, color .4s;
	/* background-color: #fff; */
	background-image: var(--background-img);
	/* 
	background-color: var(--background-color-test1); */
	background-attachment: fixed;
}
.background__image-test {
	filter: drop-shadow(0px 0px 10px #1b1b1b);
}

h1 {
	color: var(--text-color);
	text-align: center;
	font-size: 24px;
	font-family: 'Marck Script', cursive;
}
h2 { 
	color: var(--text-color);
	text-align: center;
	margin: 30px auto;
	font-family: 'Marck Script', cursive;
	letter-spacing: 1px;
}

h4 {
	color: var(--title-color);
	text-align: center;
}
p {
	color: var(--text-color-dorado);
	text-align: center;
	font-size: 24px;
}

a {
	text-decoration: none;
}

.no-scroll {
	overflow: hidden;
}

/*Ver invitacion*/
.show-invit-container {
	background-color: #ffffff00;
	position: fixed;
	height: 100vh;
	width: 100vw;
	z-index: 300;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition: transform 1s;
	transform: translateY(0%);
}
.show {
	transform: translateY(-100%);
}
.show-invit {
	font-size: 40px;
	z-index: 500;
	color: #fa4be3b4;
	filter: drop-shadow(0px 0px 10px #222);
	transition: transform .4s;
	transform: scale(1);
}.show-invit-scale {
	transform: scale(0);
}
.show-invit-anim::before {
	
	width: 0;
  	height: 0;
}.show-invit-anim-1, .show-invit-anim-2 {
	position: fixed;
	height: 60vh;
	width: 100vw;
	object-fit: cover;
	transition: transform 1s;
}.show-invit-anim-1{
	top: 0;
	z-index: 400;
	height: 70vh;
	filter: drop-shadow(00px 0px 10px #000);
	transform: translateY(0%);
}.show-invit-anim-2{
	z-index: 350;
	bottom: 0;
	transform: translateY(0%);
}
.show-top {
	transform: translateY(-100%);
}.show-bottom {
	transform: translateY(100%);
}
/*Ver invitacion*/
:root {
	--background-color: #F3FFFA;
	--background-page: #E4E9F7;
	--background-color-test1:  #ffffff;
	--background-img: url('../multimedia/images/background.png');
	--background-text: #FEE2C5;
	--background-example: #FEE2C5;
	--background-nav-hover: #010415;
	--background-menu: #00000091;
	--background-open-menu: #eefc;
	--background-qr: #0000;
	--text-color: #211c18;
	--text-color-dorado: #6d0006;
	--text-color-dorado-var-1: #FFA500;
	--text-color-dorado-var-2: #211c18;
	--text-color-hover: #E4E9F7;
	--text-example-color: #DFF6FF;
	--title-color: #505050;
	--border-text: 4px solid #06283D;
	--border-img: 5px solid #FFA500;
	--border-bottom-text: 4px solid #FFA500;
	--border-example-text: 3px solid #001D6E;
	--border-qr: 3px solid #0000;
	--border-bottom-1: 1px solid #0000;
	--gray-color: #777777;
	--white-color: #ffffff;
	--title-selection: #ffffff;
	--mode-color: #15133c;
	--shadow-color-1: #999999;
	--shadow-color-2: #555555;
	--c2: #4d9;
	--c1: #44a;
	--card-height: 350px;
	--card-width: calc(var(--card-height) / 1.1);
	--rotate: 132deg;
}

body.dark{	
	--background-page: #6F0A12;
	--background-color: #330033;
	--background-color-test1: #7F0A1F;
	--background-img: url('../multimedia/images/background-dark.png');
	--background-text: #002040;
	--background-example: #FEE2C5;
	--background-nav-hover: #E4E9F7;
	--background-menu: #FFA500cf;
	--background-open-menu: #422c;
	--background-qr: #ffff;
	--text-color: #fffdc0;
	--text-color-2: #48f;
	--text-color-hover: #541690;
	--title-color: #ffffff;
	--text-color-dorado: #d4a413;
	--text-color-dorado-var-1: #7d0a1e;
	--text-color-dorado-var-2: #d4a413;
	--border-img: 5px solid #998300;
	--border-text: 4px solid #B9B9B9;
	--border-qr: 3px solid #ffff;
	--border-bottom-1: 1px solid #ffff;
	--mode-color: #ffffff;
	--title-selection: #15133c;
	--shadow-color-1: #55f;
	--shadow-color-2: #006;
}
.loader-container {
	background: var(--background-page);
	width: 100vw;
	height: 100vh;
	z-index: 10000;
	position: fixed;
	transition: .6s transform;
}

.anim-loader-container{   
  	display: grid;
    place-content: center;
    height: 100vh;
}
.loading {
   	width: 120px;
    height: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
  	margin: 0 auto; 
}
.texto-cargando{ 
  	padding-top: 30px;
  	color: var(--text-color);
}
.cargando span{
    font-size: 20px;
    text-transform: uppercase;
}
.balls {
    width: 30px;
    height: 30px;
    background-color: /*#00b8de*/ var(--text-color-dorado);
    animation: salto .5s alternate infinite;
  	border-radius: 50%;
}
.balls:nth-child(2) {
    animation-delay: .18s;
}
.balls:nth-child(3) {
    animation-delay: .37s;
}
@keyframes salto {
    from {
        transform: scaleX(1.25);
    }
    to{
        transform: 
        translateY(-50px) scaleX(1);
    }
}
.hidden-loader {
	transform: translateY(-100vh);
}

.music-control {
	position: fixed;
	bottom: 0;
	margin-bottom: 20px;
	margin-left: 10px;
	font-size: 40px;
	background: #ffffff;
	color: var(--text-color-dorado);
	border-radius: 28px;
	padding: 15px;
	z-index: 50;
}
.music-container {
	position: relative;
	display: grid;
	cursor: pointer;
}
.music-on,.music-off {
	grid-row: -1 / 1;
	grid-column: 1 / 2;
	transition: transform .6s;
}
.mute {
	transform: scale(0);
}
.play {
	transform: scale(0);
}

.spotify-song-container {
	margin: 10px;
} .spotify-song-container > iframe {
	outline: 5px double var(--text-color-dorado);
}
.modal,.modal-2,.modal-3 {
	background: #0006;
	backdrop-filter: blur(15px);
	-webkit-backdrop-filter: blur(15px);
	height: 100%;
	width: 100%;
	position: fixed;
	transition: opacity .4s;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1100;
	opacity: 1;
}
.modal-img {
	position: fixed;
	max-width: 90%;
	transform: scale(1);
	transition: transform .4s;
	display: flex;
	justify-content: center;
	align-items: center;
}
.modal-img-front {
	border: 3px inset var(--text-color-dorado);
	padding: 4px;
	min-height: 100px;
	min-width: 100px;
	max-height: 70vh;
}
.close__image-icon {
	position: absolute;
	top: 0;
	right: 0;
	height: 35px;
	margin: 4px;
}
.off {
	opacity: 0;
}

.off-1 {
	transform: scale(.001);
}


.modal-gift,.modal-confirm {
	position: fixed;
	min-height: 75%;
	max-width: 90%;
	transform: translateY(0);
	transition: transform .4s;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: scroll;
	max-height: 90%;
}
.data-info,.data-info-2 {
	background: var(--background-page);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-items: space-between;
	gap: 30px;
	padding: 30px 2px;
	border-radius: 10px;
	flex-wrap: wrap;
	margin: 0 4px;
	font-family: sen;
	font-size: 20px;
	border: 2px solid var(--text-color-dorado);
}.data-info-2 {
	gap: 15px;
	padding: 10px 2px;
}

.off-2 {
	transform: translateY(-100vh);
}
.data-info > p {
	color: var(--text-color);
	font-size: 20px;
}

.title-gift-modal {
	color: var(--title-color);
	text-align: center;
	width: 100%;
	padding: 4px 0;
	border-bottom: 1px solid var(--text-color);
}
/*/////////////////Button Menu////////////////*/
.div__menu-container {
	width: 100%;
	height: 32px;
}
.main__container {
	overflow: hidden;
}

.menu__container {
	position: fixed;
	width: 100%;
	height: 45px;
	background: var(--background-menu);
	z-index: 100;
	display: flex;
	justify-content: center;
	align-items: center;
}

.i__menu {
	position: absolute;
	transition: transform .4s;
	height: 38px;
}

.i__close {
	transform: scale(0);
}

.nav__icon {
	width: 38px;
	height: 38px;
}

.nav__container {
	background: var(--background-open-menu);
	position: fixed;
	height: 100%;
	width: 100%;
	transition: transform .6s, background .4s;
	transform: translateY(-2000px);
	padding: 10px 0;
	z-index: 50;
}

.nav__open {
	transform: translateY(0px);
}

.nav__menu-container {
	display: grid;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: repeat(2, max-content);
  grid-auto-flow: column;
	margin-top: 32px;
  height: 60%;
}
.nav__ul {
	height: 90%;
	width: 70vw;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
}

.nav__a {
	padding: 8px;
	transition: background .6s;
	border-radius: 10px;
	color: var(--text-color);
	text-decoration: none;
	font-size: 24px;
	position: absolute;
	width: 100%;
}
.nav__li {
}

/*/////////////////Button Menu////////////////*/

/*/////////////////DarkMode////////////////*/
.i__container {
	padding: 15px;
}



.i__moon,
.i__sun {
	cursor: pointer;
    grid-column: -2 / -1;
    grid-row: 1 / 2;
    transition: .4s transform;
    margin: 10px;
    align-self: start;
    color: var(--text-color);
    font-size: 30px;
}
.i__sun {
	transform: scale(0);
}

/*/////////////////DarkMode////////////////*/
.background__image-test > img{
	width: 100vw;
	max-height: 800px;
	object-fit: cover;
}
/*/////////////////Presentacion////////////////*/

.front__container-image {
	/*clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);*/
	margin: 0px 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.front-img {
	object-fit: cover;
}
.title-date {
	font-size: 28px;
	color: var(--text-color);
}
.temporizador {
	font-family: si;
}

.agendar__container {
	margin: 26px 0;
	padding: 10px 0;
	border-radius: 20px;
	font-family: si;
	display: flex;
	justify-content: center;
}
.btn-agendar {
	border: 2px solid;
	border-image-slice: 1;
	padding: 10px 20px;
	width: 200px;
	text-align: center;
	color: var(--text-color-dorado);
	font-size: 18px;
	border-radius: 10px;
	background-color: transparent;
}
/*/////////////////Presentacion////////////////*/

/*-----------------Temporizador-----------------*/
.countdown {
	display: grid;
	grid-template-columns: 1fr 1fr;
	place-items: center;
	gap: 16px;
	color: var(--text-color);
	font-family: san;
}
.simply-section {
	/*background: var(--title-selection);
	border: 2px solid var(--text-color-dorado);*/
	height: 120px;
	width: 120px;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.simply-amount {
	display: block;
	font-size: 50px;
	text-align: center;
	font-weight: 600;
}
.simply-word {
	color: var(--text-color-dorado);
}
/*-----------------Temporizador-----------------*/



/*////////////////Lugar////////////////*/


.btn-discurso,.btn-mapa {
	font-size: 1.25rem;
	padding: 4px 8px;
	margin: 0 auto;
	text-align: center;
	background: var(--text-color);
	color: var(--text-color-dorado-var-1);
	border: 2px solid var(--text-color-dorado);
	max-width: 600px;
	min-width: 250px;
	transition: transform .4s;
}
.btn-mapa {
	padding: 4px 8px;
	min-width: 250px;
	margin: 20px auto;
	font-size: 22px;
	max-width: 600px;
	min-width: 250px;
}
.btn-discurso:active {
	transform: scale(.96);
}
.title__horario-lugar {
	margin-bottom: -40px;
}

.text__container {
	margin: 26px;
	padding: 10px 0px;
	border-bottom: 2px solid var(--text-color);
	border-radius: 20px;
}
.text__container-2 {
	margin: 26px;
	padding: 10px 0;
	border-bottom: 2px solid var(--text-color);
	border-radius: 20px;
}
.text__container-3 {
	display: grid;
	grid-template-columns: 1fr;
	margin: 26px;
	padding: 10px 0;
	justify-content: center;
	z-index: 100;
}
.title__border-h2 {
	border-bottom: 2px solid red;
	width: 70%;
}
.map-transition,.map-transition2 {
	position: relative;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 90vw;
	transition: height .6s, outline .4s, margin .5s;
	height: 0px;
	margin: 0px;
	outline: 0px solid var(--text-color-dorado);
}

.map-on,.map-on2 {
	margin: 30px 10px;
	outline: 2px solid var(--text-color-dorado);
	height: 300px;
}
.map-container {
	width: 90vw;
	transition: transform .8s;
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.map-info {
	width: 100%;
}
/*/////////////////Vestimenta/Galeria////////////////*/


.img__container {
	margin: 20px 15px;
	display: flex;
	justify-content: center;
}
.img-gallery:active,.img-outfit:active {
	transform: scale(.94);
}

.title-formal {
	color: var(--text-color-dorado);
	margin-top: -10px;
}
.img-border {
	object-fit: cover;
	padding: 6px;
	border: 3px inset var(--text-color-dorado);
	transition: transform .3s;
}

/*/////////////////Vestimenta/Galeria////////////////*/


/*/////////////////Timeline////////////////*/

.timeline__container {
	border-left: 4px dashed var(--text-color-dorado);
	margin: 10px;
	font-family:'sen', sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.timeline__container-i {
	margin: 8px auto;
	text-align: center;
}
.timeline-i {
	font-size: 40px;
	text-align: center;
	color: var(--text-color-dorado);
	border: 2px solid var(--text-color);
	padding: 12px;
	border-radius: 50px;
	min-height: 70px;
	min-width: 70px;
	max-height: 70px;
	max-width: 70px;
	animation-timing-function: linear;
	display: flex;
	justify-content: center;
	align-items: center;
}
.timeline-i:active {
	animation-name: lol;
	animation-duration: .3s;
	animation-iteration-count: 1;
}

@keyFrames lol {
	0% {
		color: red;
		transform: translateX(5px);
	}
	20% {
		color: red;
		transform: translateX(10px);
	}
	40% {
		color: red;
		transform: translateX(5px);
	}
	60% {
		color: red;
		transform: translateX(0px);
	}
	80% {
		color: blue;
		transform: translateX(-5px);
	}
	100% {
		color: blue;
		transform: translateX(0px);
	}
}
.timeline-badge:before {
	background: var(--text-color);
	color: var(--text-color-dorado-var-1);
	content: " ";
	position: absolute;
	left: 0;
	padding: 7px;
	margin-left: 10px;
	font-size: 18px;
	outline: 3px solid var(--text-color-dorado);
}
.badge-1:before {
	content: "12:00 pm";
}
.badge-2:before {
	content: "1:45 pm";
}
.badge-3:before {
	content: "2:10 pm";
}
.badge-4:before {
	content: "3:30 pm";
}
.badge-5:before {
	content: "4:30 pm";
}
.badge-6:before {
	content: "5:30 pm";
}
.badge-7:before {
	content: "7:00 pm";
}
.badge-8:before {
	content: "5:00 pm";
}
.badge-9:before {
	content: "10:00 pm";
}
.badge-10:before {
	content: "3:30 pm";
}

/*/////////////////Timeline////////////////*/


/*/////////////////Background Image////////////////*/
.background__image,
.background__image-2,
.background__image-3,
.background__image-4,
.background__image-5, 
.background__image-6 {
	height: 400px;
	width: 100vw;
	background-attachment: fixed;
	background-position: center;
	background-size: cover; 
	background-repeat: no-repeat;
}
.background__image {
	background-image: url("../multimedia/images/gallery-image/transition/img-transition-1.jpg");
}
.background__image-2 {
	background-image: url("../multimedia/images/gallery-image/transition/img-transition-2.jpg");
}
.background__image-3 {
	background-image: url("../multimedia/images/gallery-image/transition/img-transition-3.jpg");
}
.background__image-4 {
	background-image: url("../multimedia/images/gallery-image/transition/img-transition-4.jpg");
}
.background__image-5 {
	background-image: url("../multimedia/images/gallery-image/transition/img-transition-5.jpg");
}
.background__image-6 {
	background-image: url("../multimedia/images/gallery-image/transition/img-transition-6.jpg");
}
/*/////////////////Background Image////////////////*/

/*/////////////////Mesa de regalos////////////////*/
.gift__container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 15px 0;
	gap: 25px;
	padding: 20px;
}
.gift-i {
	font-size: 40px;
	text-align: center;
	color: var(--text-color);
	border: 2px solid var(--text-color);
	padding: 12px;
	border-radius: 90px;
}
.btn-gift {
	border: 3px solid var(--text-color-dorado);
	background: transparent;
	border-radius: 8px;
	padding: 2px 10px;
	width: 200px;
	font-family: sen;
	color: var(--text-color-dorado-var-2);
	transition: transform .3s;
}
.btn-gift:active {
	transform: scale(.94);
}
/*/////////////////Mesa de regalos////////////////*/

/*/////////////////Asistencia////////////////*/
.confirm__container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 15px 0;
	gap: 25px;
	padding: 20px;
	margin: 60px 0;
	overflow: hidden;
}
.form-invitation {
	position: relative;
	overflow: hidden;
	height: 50px;
	width: 95%;
	max-width: 400px;
}
.invitation-number {
	width: 100%;
	height: 100%;
	background: none;
	padding-top: 20px;
	color: var(--text-color);
	border: none;
	outline: 0px;
	transition: background .3s, transform .3s;
	transform: translateX(0px);
}
.input-error-anim {
	background: #f00;
	color: #600;
}
.lbl-text {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	border-bottom: 1px solid #c7c7c7;
	background: transparent;
}
.lbl-text:after {
	content: "";
	position: absolute;
	bottom: -1px;
	left: 0;
	width: 100%;
	height: 100%;
	border-bottom: 3px solid #2cecec;
	transform: translateX(-100%);
	transition: all .4s ease;
}
.text-input {
	position: absolute;
	bottom: 5px;
	left: 0;
	transition: all .4s ease;
	color: var(--text-color-dorado);
}
.form-invitation input:focus + .lbl-text .text-input,
.form-invitation input:valid + .lbl-text .text-input {
	transform: translateY(-150%);
	font-size: 14px;
}
.form-invitation input:focus + .lbl-text:after,
.form-invitation input:valid + .lbl-text:after {
	transform: translateX(0);
}
.btn-send {
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--text-color-dorado-var-1);
	height: 45px;
	width: 60%;
	max-width: 300px;
	background: var(--text-color);
	outline: none;
	border: 3px solid var(--text-color-dorado);
	transition: transform .4s;
	cursor: pointer;
}
.btn-send:active {
	transform: scale(.96);
}
.text-qr {
	position: relative;
	height: 1px;
	width: 100%;
	margin-top: -30px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: transform .4s;
	transform: scale(0);
}.text-qr-anim {
	transform: scale(1);
}
.text-qr:before {
	content: "Numero de invitacion invalido";
	color: #f00;
	top: 0;
	font-size: 18px;
}
.confirmar-familia {
	color: var(--title-color);
	margin-top: -20px;
	border-bottom: 3px solid #7d0a1e;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 5px;
}.confirmar-familia > h3 {
	color: var(--text-color-dorado);
}
.span-text-modal {
	color: var(--text-color-dorado);
}
.btn-confirm {
	border: 3px solid var(--text-color-dorado);
	background: transparent;
	padding: 2px 10px;
	font-family: sen;
	color: var(--text-color);
	transition: transform .3s;
	height: 50px;
	position: absolute;
}
.btn-confirm:active {
	transform: scale(.94);
}
.container__qr-generator {
	height: 0px;
	width: 0px;
	transition: height .4s;
}
.anim-qr {
	height: 300px;
	width: 300px;
	border: var(--border-qr);
}
.qr-container {
	display: flex;
	justify-content: center;
	height: 100%;
	width: 100%;
	background: var(--background-page);
}

/* carousel */

.carousel { 
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.img-slide {
	transition: transform .5s;
	object-fit: cover;
	max-height: 600px;
	filter: drop-shadow(0px 0px 10px #000);
	padding: 10px;
}
.splide__slide {
	padding: 10px 0px;
	display: flex;
	justify-content: center;
	align-items: center;
}
/* carousel */

/* Footer */
.btn-contact-me {
	background-color: transparent;
	border: none;
	border-bottom: 3px solid #d4a413;
	transition: transform .4s;
	border-radius: 10px;
	color: #fff;
	padding: 0px 15px;
}
.btn-contact-me:active {
	transform: scale(.8);
}

.footer {
	font-family: sen;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #000000;
	padding: 10px;
}
.a-inv-click {
	color: #fff;
}
.a-inv-click > h5 > b {
	color: #d4a413;
}

/* Footer */



.container-contact{
    height: 350px;
    width: 320px;
    background-color: #101010;
    border-radius: 10%;
    box-shadow: 16px 14px 20px #0000008c;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    padding: 10px;
}

.container-contact::before{
    content: "";
    position: absolute;
    height: 600px;
    width: 600px;
    background-image: conic-gradient(#f00 20deg, transparent 120deg);
    animation: rotar 2s linear infinite;
}

@keyframes rotar{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(-360deg);
    }
}

.container-contact::after{
    content: "";
    position: absolute;
    height: 340px;
    width: 310px;
    background-color: #101010;
    border-radius: 10%;
    box-shadow: inset 16px 14px 20px #0000008c;;
}

.container-contact > p, .container-contact > h3 {
	z-index: 100;
	color: #48e;
	margin: 0 10px;
}


/*/////////////////Asistencia////////////////*/

	/* Estilos para motores Webkit y blink (Chrome, Safari, Opera... )*/

	.body::-webkit-scrollbar {
	    -webkit-appearance: none;
	}

	.body::-webkit-scrollbar:vertical {
	    width:10px;
	}

	.body::-webkit-scrollbar-button:increment,.body::-webkit-scrollbar-button {
	    display: none;
	} 

	.body::-webkit-scrollbar:horizontal {
	    height: 10px;
	}

	.body::-webkit-scrollbar-thumb {
	    background-color: #797979;
	    border-radius: 20px;
	    border: 2px solid #f1f2f3;
	}

	.body::-webkit-scrollbar-track {
	    border-radius: 10px;  
	}

@media screen and (min-width: 768px) {

	p {
		font-size: 28px;
		letter-spacing: 1px;
	}

	h2 {
		font-size: 42px;
		letter-spacing: 1px;
	}

	h4 {
		font-size: 30px;
	}
	.nav__ul {
		width: 400px;
	}
	.nav__li {
		height: 60px;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.nav__a {
		font-size: 28px;
	}
	.i__container > i {
		font-size: 40px;
	}
	.countdown {
		display: flex;
		justify-content: space-evenly;
	}
	.btn-agendar{
		height: 40px;
		width: 300px;
		font-size: 20px;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.btn-discurso {
		height: 60px;
		width: 400px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		font-size: 26px;
	}
	.btn-mapa {
		height: 60px;
		width: 400px;
		font-size: 26px;
		cursor: pointer;
		transition: transform .4s;
	}
	.btn-mapa:active {
		transform: scale(.96);
	}
	.timeline-badge:before {
		height: 35px;
		width: 90px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		font-size: 22px;
	}
}




@media screen and (min-width: 1024px) {
	*{
		max-width: 100%;
	}
	p {
		font-size: 28px;
		letter-spacing: 1px;
	}

	h2 {
		font-size: 42px;
		letter-spacing: 1px;
	}

	h4 {
		font-size: 30px;
	}
	#Presentacion {
		margin-top: 60px;
	}
	.title-date {
		font-size: 36px;
	}
	.menu__container {
		display: none;
	}
	.nav__container {
		transform: translateY(0);
		background: unset;
		display: flex;
		height: unset;
		padding: 0;
		z-index: 100;
	}

	.nav__menu-container {
		display: flex;
	  	justify-content: space-between;
	  	align-items: center;
		margin-top: 0px;
	  	width: 100%;
		height: unset;
		background: var(--background-open-menu);
	}
	.nav__ul {
		width: 100%;
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		flex-direction: row;
		gap: 0px;
		position: unset;
	}

	.nav__a {
		padding: 0px;
		transition: background .6s;
		border-radius: 10px;
		color: var(--text-color);
		text-decoration: none;
		font-size: 0px;
		padding: 10px 10px;
		transition: transform .4s, background .4s;
		position: unset;
	}
	.nav__a:hover {
		background: var(--text-color-dorado);
		color: #7d0a1e;
	}
	.nav__a:active {
		transform: scale(.96);
	}
	.nav__li {
		height: 70px;
		display: flex;
	}
	.nav__li > a {
		font-size: 22px;
	}
	.i__container > i {
		font-size: 35px;
	}
	.i__container {
		height: unset;
	}

	.i__moon,
	.i__sun {
		position: absolute;
		right: 0;
	  	transition: .4s transform;
	  	margin: 0px;
	  	color: var(--text-color);
	  	font-size: 30px;
	  	align-self: flex-start;
	  	margin-right: 5px;
	  	margin-top: 2px;
	}
	.close__image-icon {
		cursor: pointer;
	}



	.front-img {
		max-width: 1000px;
	}
	.countdown {
		display: flex;
		justify-content: space-evenly;
	}
	.text-container {
		display: inline-block;
	}
	.btn-agendar{
		height: 40px;
		width: 300px;
		font-size: 20px;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.lugar-grid {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
	.title__horario-lugar {
		grid-column: 1 / 3;
		grid-row: 1/2;
	}
	.image-grid {
		grid-column: 1 / 3;
	}
	.inicio-grid {
		grid-column: 1 / 2;
		grid-row: 2 / 3;
		max-width: 50vw;
	}
	.banquete-grid {
		grid-column: 2 / 3;
		grid-row: 2 / 3;
		max-width: 50vw;
	}
	.map-transition,.map-transition2,.map-container {
		width: 100%;
	}
	.btn-discurso {
		height: 60px;
		width: 400px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		font-size: 26px;
	}
	.gallery__container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-auto-flow: dense;
		grid-auto-rows: minmax(300px, 1fr);
		place-items: center;
		gap: 10px;
	}
	.img__container {
		max-height: 90%;
	}
	.img-gallery {
		max-height: 550px;
	}
	.timeline-badge:before {
		height: 35px;
		width: 90px;
		font-size: 22px;
	}
	.img-border {
		cursor: pointer;
	}
	.btn-gift {
		cursor: pointer;
	}
	.btn-confirm {
		cursor: pointer;
	}
	.data-info,.data-info-2 {
		min-width: 40%;
		width: 60%;
	}
	.modal-confirm {
		min-height: 900px;
		min-width: 700px;
		max-height: 1100px;
		max-width: 900px;
		overflow: hidden;
	}
	/*timeline desktop*/
	.timeline__container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		border: none;
	}
	.timeline__container-i {
		padding: 10px;
		width: 50%;
		border-bottom: 3px dashed var(--text-color-dorado);
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.timeline__container-i > i {
		width: 100px;
		margin: 20px 0;
	}
	.timeline-badge:before {
		position: relative;
		margin: 0px 0 15px 0;
		width: 20%;
		min-width: 150px;
	}


	.badge-2:before, .badge-4:before,
	.badge-6:before, .badge-6:before,
	.badge-8:before, .badge-10:before{
		margin-left: 75%;
	}

	.badge-1:before, .badge-3:before,
	.badge-5:before, .badge-7:before,
	.badge-9:before, .badge-11:before{
		margin-left: -75%;
	}
	/*/////////////////Background Image////////////////*/
	.background__image,
	.background__image-2,
	.background__image-3,
	.background__image-4,
	.background__image-5, 
	.background__image-6 {
		height: 600px;
	}

	/*/////////////////Background Image////////////////*/

}


@media screen and (min-width: 1600px) {

	/*/////////////////Background Image////////////////*/
	.background__image,
	.background__image-2,
	.background__image-3,
	.background__image-4,
	.background__image-5, 
	.background__image-6 {
		height: 800px;
	}
	/*/////////////////Background Image////////////////*/

}




